In [128]:
import os
import json
import pandas as pd
from collections import defaultdict
from rapidfuzz import fuzz
from tqdm.notebook import tqdm
tqdm.pandas()

In [2]:
df = pd.read_csv('../CSVs/8_filtered_genres.csv',index_col=0).drop('index',axis=1)

In [3]:
df.head()

,title,author,total words,vividness,passive voice,all adverbs,ly-adverbs,non-ly-adverbs,year,genres,num final genres
0,The Vanished Birds,Simon Jimenez,124205.0,55.18,6.37,1.95,0.36,1.58,2020.0,"['Science Fiction', 'Fantasy', 'Adult']",3
1,The Price of Honor,Jonathan P. Brazee,77253.0,35.35,8.71,2.63,0.71,1.92,2017.0,['Science Fiction'],1
2,The Case of the Baker Street Irregulars,Anthony Boucher,80557.0,32.33,8.41,3.72,1.64,2.08,1940.0,"['Mystery', 'Crime', 'Classics']",3
3,Wildoak,C. C. Harrington,55602.0,74.34,6.92,3.04,1.16,1.87,2022.0,"['Historical Fiction', 'Young Adult']",2
4,The Holiday,T. M. Logan,101767.0,50.30,8.02,3.06,1.12,1.93,2019.0,"['Thriller', 'Mystery', 'Crime', 'Suspense']",4

In [4]:
def get_word_counts_from_json(author, title):
    file_path = f'../word-counts/{author}/{title}/word-counts.json'
    word_counts = read_json(file_path)
    return word_counts

In [5]:
def read_json(file_path):
    with open(file_path, 'r', encoding='utf-8') as f:
        data = json.load(f)
    return data

The formatting of the directory is as follows: Within the 'word-counts' folder, there are about 15,000 folders representing authors. In the folder of each author, there is a subfolder for each of their books. And in each book folder, there is one file: A JSON containing the frequency of each word that appears in the book.

In [6]:
def process_directory_structure(root_dir
    authors = set()
    books = defaultdict(set)
    df = pd.DataFrame()


    for author in os.listdir(root_dir):
        if os.path.isdir(f'{root_dir}/{author}'):
            authors.add(author)
            author_dir = os.path.join(root_dir, author)

            for book in os.listdir(author_dir):
                book_dir = os.path.join(author_dir, book)
                books[author].add(book)

    return books

In [7]:
root_dir = '../word-counts/'
books = process_directory_structure(root_dir)

In [11]:
def add_data_to_dataframe(df, author, book, word_counts):
    word_counts['Author'] = author
    word_counts['Book'] = book
    df = pd.concat(word_counts, ignore_index=True)
    return df

In [27]:
def clean(name):
    to_remove = [':',',','’','?','/']
    for char in to_remove:
        name = name.replace(char, '')
    name = name.lower().replace(' ','-').replace('&','and').replace('.-','-').replace('.','-').strip('-')
    return name

In [42]:
def get_wordcounts(orig_title, orig_author, correct_books, threshold=80):
    # Reformat title and author's name to match folder names
    title = clean(orig_title)
    author = clean(orig_author)
    correct_books_copy = correct_books.copy()
    
    
    # Check if the author's name is in the list of folders at the author level
    if author in correct_books_copy.keys():
        # If found, check the author's folder for the title folder. 
        if title in correct_books[author]:
            return get_word_counts_from_json(author,title)
        else: 
            # Check for title names that are close to the cleaned title name
            for correct_title in correct_books[author]:
                if fuzz.ratio(title, correct_title) > threshold:
                    return get_wordcounts(correct_title, author, correct_books, threshold)
        return -1
    else: 
        # If the exact author's name wasn't found, check for extremely similar authors' names. 
        for correct_author in correct_books_copy.keys():
            if fuzz.ratio(author, correct_author) > 95:
                return get_wordcounts(title, correct_author, correct_books, threshold)
        # If that doesn't work, check for moderately similar authors' names. 
        for correct_author in correct_books_copy.keys():
            if fuzz.ratio(author, correct_author) > threshold:
                return get_wordcounts(title, correct_author, correct_books, threshold)
        return -1

In [14]:
books = process_directory_structure(root_dir)

In [29]:
for i in tqdm(range(len(df))):
    returned =  get_wordcounts(df.iloc[i]['title'],df.iloc[i]['author'],books,80)
    if returned == -1:
        print(f"Did not work for {df.iloc[i]['title']}, by {df.iloc[i]['author']}")

  0%|          | 0/20490 [00:00<?, ?it/s]

Did not work for Queer Intentions: A (Personal) journey through LGBTQ+ culture, by Amelia Abraham

The only book I wasn't able to find was a book whose title in the dataframe includes a subtitle, and whose matching folder does not! An easy fix.

In [34]:
df.loc[df['author'] == 'Amelia Abraham', 'title'] = "Queer Intentions"

In [35]:
df.loc[df['author'] == 'Amelia Abraham']

,title,author,total words,vividness,passive voice,all adverbs,ly-adverbs,non-ly-adverbs,year,genres,num final genres
18673,Queer Intentions,Amelia Abraham,86726.0,29.31,8.8,3.12,1.13,1.98,2019.0,['Memoir'],1

In [57]:
test_df = df.loc[df['title']=='Return of the Thief']

In [58]:
test_book = get_wordcounts('Return of the Thief','Megan Whalen Turner',books)

In [47]:
type(test_book)

dict

In [64]:
pd.DataFrame(test_book,index=range(1))

,the,to,and,of,I,he,a,was,his,in,...,writer,wrung,xanthe,y,yard,yarn,yellowed,youth,zigzagging,Author
0,7395,3039,2696,2136,2115,1800,1695,1474,1416,1383,...,1,1,1,1,1,1,1,1,1,Return of the Thief

In [71]:
test_book['the']

7395

In [73]:
test_book2 = get_wordcounts('The Vanished Birds','Simon Jimenez',books)

In [78]:
pd.DataFrame(test_book2,index=[0])

,the,of,to,and,she,her,a,was,he,in,...,yelp,yet-uncharted,yogic,youngest,zeroed-out,zigzags,zipper,zone,zoned,zucar
0,9651,3215,2869,2862,2509,2313,2304,2202,2165,1809,...,1,1,1,1,1,1,1,1,1,1

In [79]:
test_df1 = pd.DataFrame(test_book,index=[0])

In [80]:
test_df2 = pd.DataFrame(test_book2,index=[0])

In [82]:
pd.concat([test_df1,test_df2],ignore_index=True)

,the,to,and,of,I,he,a,was,his,in,...,yelp,yet-uncharted,yogic,youngest,zeroed-out,zigzags,zipper,zone,zoned,zucar
0,7395,3039,2696,2136,2115,1800,1695,1474,1416,1383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9651,2869,2862,3215,936,2165,2304,2202,1389,1809,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [83]:
test_dict = {'book_title': 'Return of the Thief','book_author':'Megan Whalen Turner'}

In [84]:
test_dict.update(get_wordcounts(test_dict['book_title'],test_dict['book_author'],books))

In [91]:
test_dict['year']

13

In [97]:
df.columns = ['book title', 'book author', 'total words', 'vividness score', 'passive voice',
       'all adverbs', 'ly-adverbs', 'non-ly-adverbs', 'publication year', 'book genres',
       'num genres']

In [98]:
df.head()

,book title,book author,total words,vividness score,passive voice,all adverbs,ly-adverbs,non-ly-adverbs,publication year,book genres,num genres
0,The Vanished Birds,Simon Jimenez,124205.0,55.18,6.37,1.95,0.36,1.58,2020.0,"['Science Fiction', 'Fantasy', 'Adult']",3
1,The Price of Honor,Jonathan P. Brazee,77253.0,35.35,8.71,2.63,0.71,1.92,2017.0,['Science Fiction'],1
2,The Case of the Baker Street Irregulars,Anthony Boucher,80557.0,32.33,8.41,3.72,1.64,2.08,1940.0,"['Mystery', 'Crime', 'Classics']",3
3,Wildoak,C. C. Harrington,55602.0,74.34,6.92,3.04,1.16,1.87,2022.0,"['Historical Fiction', 'Young Adult']",2
4,The Holiday,T. M. Logan,101767.0,50.30,8.02,3.06,1.12,1.93,2019.0,"['Thriller', 'Mystery', 'Crime', 'Suspense']",4

In [99]:
test_df = df.head()

In [106]:
test_df = test_df.join(test_df.apply(lambda x:  pd.Series(get_wordcounts(x['book title'], x['book author'],books)),axis=1))

In [107]:
test_df

,book title,book author,total words,vividness score,passive voice,all adverbs,ly-adverbs,non-ly-adverbs,publication year,book genres,...,zone,zoned,zoo,zoom,zoomed,zooming,zucar,émigré,émigrés,über
0,The Vanished Birds,Simon Jimenez,124205.0,55.18,6.37,1.95,0.36,1.58,2020.0,"['Science Fiction', 'Fantasy', 'Adult']",...,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,The Price of Honor,Jonathan P. Brazee,77253.0,35.35,8.71,2.63,0.71,1.92,2017.0,['Science Fiction'],...,3.0,NaN,NaN,2.0,6.0,NaN,NaN,NaN,NaN,NaN
2,The Case of the Baker Street Irregulars,Anthony Boucher,80557.0,32.33,8.41,3.72,1.64,2.08,1940.0,"['Mystery', 'Crime', 'Classics']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,1.0
3,Wildoak,C. C. Harrington,55602.0,74.34,6.92,3.04,1.16,1.87,2022.0,"['Historical Fiction', 'Young Adult']",...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Holiday,T. M. Logan,101767.0,50.30,8.02,3.06,1.12,1.93,2019.0,"['Thriller', 'Mystery', 'Crime', 'Suspense']",...,1.0,NaN,NaN,2.0,7.0,4.0,NaN,NaN,NaN,NaN

In [116]:
len(df)

20490

In [ ]:
words_df.tail()

In [130]:
first_df = df.iloc[:1000]

In [131]:
first_df = first_df.join(first_df.progress_apply(lambda x: pd.Series(get_wordcounts(x['book title'], x['book author'], books)), axis=1))

  0%|          | 0/1000 [00:00<?, ?it/s]

In [134]:
df_chunks = []
for i in range(20):
    df_chunks.append(df.iloc[1000*i:1000*(i+1)])

In [138]:
df_chunks.append(df.iloc[20000:len(df)])

In [146]:
complete_chunks = []

In [151]:
for chunk in df_chunks[len(complete_chunks):len(df_chunks)]:
    complete_chunks.append(chunk.join(chunk.progress_apply(lambda x: pd.Series(get_wordcounts(x['book title'], x['book author'], books)), axis=1)))

  0%|          | 0/1000 [00:00<?, ?it/s]

MemoryError: Unable to allocate 2.88 MiB for an array with shape (377410,) and data type float64

In [153]:
for chunk in complete_chunks:
    print(chunk.memory_usage)

<bound method DataFrame.memory_usage of                                   book title                      book author  \
0                         The Vanished Birds                    Simon Jimenez
1                         The Price of Honor               Jonathan P. Brazee
2    The Case of the Baker Street Irregulars                  Anthony Boucher
3                                    Wildoak                 C. C. Harrington
4                                The Holiday                      T. M. Logan
..                                       ...                              ...
995                       All Over the Place               Geraldine DeRuiter
996                             Peacekeepers    James Rosone & Miranda Watson
997                                  Stamped  Jason Reynolds & Ibram X. Kendi
998                          The Other Emily                      Dean Koontz
999                       All Roads End Here                      David Moody

     total words  vividness score  passive voice  all adverbs  ly-adverbs  \
0       124205.0            55.18           6.37         1.95        0.36
1        77253.0            35.35           8.71         2.63        0.71
2        80557.0            32.33           8.41         3.72        1.64
3        55602.0            74.34           6.92         3.04        1.16
4       101767.0            50.30           8.02         3.06        1.12
..           ...              ...            ...          ...         ...
995      69783.0            41.02           8.37         3.82        1.86
996     116836.0            37.78           7.12         2.90        1.23
997      34467.0            36.61           7.45         2.52        1.00
998      92930.0            50.93           8.30         2.58        0.78
999      92489.0            44.40           9.30         3.29        1.12

     non-ly-adverbs  publication year  \
0              1.58            2020.0
1              1.92            2017.0
2              2.08            1940.0
3              1.87            2022.0
4              1.93            2019.0
..              ...               ...
995            1.96            2017.0
996            1.68            2019.0
997            1.53            2020.0
998            1.80            2021.0
999            2.17            2019.0

                                           book genres  ...  ümn  ün  üç  þér  \
0              ['Science Fiction', 'Fantasy', 'Adult']  ...  NaN NaN NaN  NaN
1                                  ['Science Fiction']  ...  NaN NaN NaN  NaN
2                     ['Mystery', 'Crime', 'Classics']  ...  NaN NaN NaN  NaN
3                ['Historical Fiction', 'Young Adult']  ...  NaN NaN NaN  NaN
4         ['Thriller', 'Mystery', 'Crime', 'Suspense']  ...  NaN NaN NaN  NaN
..                                                 ...  ...  ...  ..  ..  ...
995                            ['Memoir', 'Biography']  ...  NaN NaN NaN  NaN
996                                       ['Thriller']  ...  NaN NaN NaN  NaN
997                                        ['History']  ...  NaN NaN NaN  NaN
998  ['Thriller', 'Mystery', 'Science Fiction', 'Ho...  ...  NaN NaN NaN  NaN
999          ['Horror', 'Science Fiction', 'Thriller']  ...  NaN NaN NaN  NaN

     Ānquánjú  īdesu   Ō  Ōfuna  Ōta  Ōtsuka
0         NaN    NaN NaN    NaN  NaN     NaN
1         NaN    NaN NaN    NaN  NaN     NaN
2         NaN    NaN NaN    NaN  NaN     NaN
3         NaN    NaN NaN    NaN  NaN     NaN
4         NaN    NaN NaN    NaN  NaN     NaN
..        ...    ...  ..    ...  ...     ...
995       NaN    NaN NaN    NaN  NaN     NaN
996       NaN    NaN NaN    NaN  NaN     NaN
997       NaN    NaN NaN    NaN  NaN     NaN
998       NaN    NaN NaN    NaN  NaN     NaN
999       NaN    NaN NaN    NaN  NaN     NaN

[1000 rows x 394352 columns]>
<bound method DataFrame.memory_usage of                             book title        book author  total words  \
1000                   Blood Runs Cold        Dylan Young      83116.0
1001  A Legacy of Storms and Starlight  Victoria J. Price     113484.0
1002           The Taxidermist’s Lover         Polly Hall      69588.0
1003                     Sunken Graves           Alan Lee      89713.0
1004                   A Single Source    Peter Hanington      96594.0
...                                ...                ...          ...
1995   Sunshine, with a Chance of Snow    Carole Matthews       7220.0
1996                    The Quiet Girl         S. F. Kosa      99785.0
1997                         Barkskins       Annie Proulx     227149.0
1998         When Evil Calls Your Name       John Nicholl      70523.0
1999                      The Lost Man        Jane Harper      95906.0

      vividness score  passive voice  all adverbs  ly-adverbs  non-ly-adverbs  \
1000            42.38           8.50         2.67        0.85            1.82
1001            57.08           7.75         2.32        0.76            1.56
1002            75.22           6.87         2.59        0.79            1.80
1003            48.62           8.41         1.96        0.52            1.43
1004            52.29           7.46         2.47        0.67            1.80
...               ...            ...          ...         ...             ...
1995            48.52          10.46         4.07        1.04            3.03
1996            49.68           8.65         2.77        0.87            1.90
1997            68.34           6.35         2.31        0.65            1.67
1998            35.89           8.59         3.96        1.98            1.98
1999            38.76           9.38         3.47        1.27            2.20

      publication year                                        book genres  \
1000            2018.0                   ['Thriller', 'Crime', 'Mystery']
1001            2022.0              ['Fantasy', 'Young Adult', 'Romance']
1002            2020.0         ['Horror', 'Adult', 'Thriller', 'Romance']
1003            2021.0                                       ['Thriller']
1004            2019.0                                       ['Thriller']
...                ...                                                ...
1995            2013.0                        ['Romance', 'Contemporary']
1996            2020.0       ['Thriller', 'Mystery', 'Adult', 'Suspense']
1997            2016.0  ['Historical Fiction', 'Historical', 'Literary...
1998            2015.0                ['Thriller', 'Mystery', 'Suspense']
1999            2018.0                   ['Thriller', 'Mystery', 'Crime']

      ...  þér   Ā  Ānanda  Ānava  ā-rran  ā-ī  ātman  āyí  ō-yoroi  ōsawagi
1000  ...  NaN NaN     NaN    NaN     NaN  NaN    NaN  NaN      NaN      NaN
1001  ...  NaN NaN     NaN    NaN     NaN  NaN    NaN  NaN      NaN      NaN
1002  ...  NaN NaN     NaN    NaN     NaN  NaN    NaN  NaN      NaN      NaN
1003  ...  NaN NaN     NaN    NaN     NaN  NaN    NaN  NaN      NaN      NaN
1004  ...  NaN NaN     NaN    NaN     NaN  NaN    NaN  NaN      NaN      NaN
...   ...  ...  ..     ...    ...     ...  ...    ...  ...      ...      ...
1995  ...  NaN NaN     NaN    NaN     NaN  NaN    NaN  NaN      NaN      NaN
1996  ...  NaN NaN     NaN    NaN     NaN  NaN    NaN  NaN      NaN      NaN
1997  ...  NaN NaN     NaN    NaN     NaN  NaN    NaN  NaN      NaN      NaN
1998  ...  NaN NaN     NaN    NaN     NaN  NaN    NaN  NaN      NaN      NaN
1999  ...  NaN NaN     NaN    NaN     NaN  NaN    NaN  NaN      NaN      NaN

[1000 rows x 389858 columns]>
<bound method DataFrame.memory_usage of                                  book title                    book author  \
2000                             Never Girl                      Ana Valen
2001                            Reputations           Juan Gabriel Vasquez
2002                  Empire of the Vampire                   Jay Kristoff
2003                         Into the Night               Marin Montgomery
2004                    The Dragon Republic                    R. F. Kuang
...                                     ...                            ...
2995                   The Last Petal Falls                   E. J. Powell
2996  All I Want for Christmas is a Vampire                Kerrelyn Sparks
2997                         Fall of Thanes                  Brian Ruckley
2998                         Four Dominions             Eric Van Lustbader
2999                              Heartless  Kate Rudolph & Starr Huntress

      total words  vividness score  passive voice  all adverbs  ly-adverbs  \
2000      69701.0            37.37           7.77         3.11        1.01
2001      43458.0            43.01           7.85         2.66        0.64
2002     240467.0            68.05           5.92         2.04        0.45
2003     103831.0            66.21           7.01         2.08        0.73
2004     187835.0            50.14           9.04         3.08        1.13
...           ...              ...            ...          ...         ...
2995      28041.0            70.41           6.47         2.57        1.01
2996      99056.0            51.52           8.35         2.88        0.89
2997     157296.0            57.69           6.77         2.87        1.15
2998     115883.0            51.84           7.64         3.11        0.99
2999      66402.0            36.53           9.69         2.58        0.93

      non-ly-adverbs  publication year  \
2000            2.10            2021.0
2001            2.02            2013.0
2002            1.59            2021.0
2003            1.35            2018.0
2004            1.95            2019.0
...              ...               ...
2995            1.57            2019.0
2996            1.99            2008.0
2997            1.72            2009.0
2998            2.12            2018.0
2999            1.65            2016.0

                                            book genres  ...   ā  āglæc-wif  \
2000                            ['Mystery', 'Thriller']  ... NaN        NaN
2001               ['Literary Fiction', 'Contemporary']  ... NaN        NaN
2002       ['Fantasy', 'Horror', 'Adult', 'Paranormal']  ... NaN        NaN
2003                ['Mystery', 'Thriller', 'Suspense']  ... NaN        NaN
2004  ['Fantasy', 'Adult', 'Historical Fiction', 'Hi...  ... NaN        NaN
...                                                 ...  ...  ..        ...
2995                                        ['Fantasy']  ... NaN        NaN
2996               ['Paranormal', 'Romance', 'Fantasy']  ... NaN        NaN
2997       ['Fantasy', 'Historical', 'Science Fiction']  ... NaN        NaN
2998                                       ['Thriller']  ... NaN        NaN
2999              ['Fantasy', 'Young Adult', 'Romance']  ... NaN        NaN

      ān  ānjìng  Ēs  Ēsclaer  īmpera  ōllamalitzli  Ūmdir  ūt
2000 NaN     NaN NaN      NaN     NaN           NaN    NaN NaN
2001 NaN     NaN NaN      NaN     NaN           NaN    NaN NaN
2002 NaN     NaN NaN      NaN     NaN           NaN    9.0 NaN
2003 NaN     NaN NaN      NaN     NaN           NaN    NaN NaN
2004 NaN     NaN NaN      NaN     NaN           NaN    NaN NaN
...   ..     ...  ..      ...     ...           ...    ...  ..
2995 NaN     NaN NaN      NaN     NaN           NaN    NaN NaN
2996 NaN     NaN NaN      NaN     NaN           NaN    NaN NaN
2997 NaN     NaN NaN      NaN     NaN           NaN    NaN NaN
2998 NaN     NaN NaN      NaN     NaN           NaN    NaN NaN
2999 NaN     NaN NaN      NaN     NaN           NaN    NaN NaN

[1000 rows x 404815 columns]>
<bound method DataFrame.memory_usage of                        book title       book author  total words  \
3000      The Children of Abraham      F. E. Peters      60932.0
3001     Becoming the Dark Prince  Kerri Maniscalco      17537.0
3002        City of Endless Night  Milo M. Hastings      84966.0
3003            The Last Crossing  Brian McGilloway      77055.0
3004  Last Night in Twisted River       John Irving     204599.0
...                           ...               ...          ...
3995              Mutiny in Space        Rod Walker      48790.0
3996          Her Sister’s Secret     E. V. Seymour      94620.0
3997           Unspeakable Things       Jess Lourey      78016.0
3998              I Was Anastasia      Ariel Lawhon     114092.0
3999                     The Deep        Alma Katsu     116717.0

      vividness score  passive voice  all adverbs  ly-adverbs  non-ly-adverbs  \
3000            14.59           5.50         3.10        1.46            1.64
3001            44.23           7.54         3.56        1.51            2.05
3002            34.35           7.48         3.23        1.18            2.04
3003            40.72           8.30         2.88        0.95            1.94
3004            53.61           9.52         2.94        1.09            1.85
...               ...            ...          ...         ...             ...
3995            39.96           7.70         2.70        0.86            1.84
3996            50.05           8.35         2.95        1.22            1.73
3997            63.09           8.53         2.49        0.66            1.82
3998            56.11           7.68         2.84        0.98            1.86
3999            50.11           8.88         2.94        0.95            1.98

      publication year                                        book genres  \
3000            1984.0                                        ['History']
3001            2019.0  ['Historical Fiction', 'Young Adult', 'Mystery...
3002            1920.0  ['Science Fiction', 'Classics', 'Historical Fi...
3003            2020.0                   ['Mystery', 'Thriller', 'Crime']
3004            2009.0  ['Historical Fiction', 'Contemporary', 'Litera...
...                ...                                                ...
3995            2016.0                                ['Science Fiction']
3996            2019.0                            ['Thriller', 'Mystery']
3997            2020.0  ['Thriller', 'Mystery', 'Suspense', 'Historica...
3998            2018.0  ['Historical Fiction', 'Historical', 'Mystery'...
3999            2020.0  ['Horror', 'Historical Fiction', 'Historical',...

      ...  ürümqi  üubervillet  þráastur  Ādil  Āliya  āræd  Īsā  Ōlelo  ōiwi  \
3000  ...     NaN          NaN       NaN   NaN    NaN   NaN  NaN    NaN   NaN
3001  ...     NaN          NaN       NaN   NaN    NaN   NaN  NaN    NaN   NaN
3002  ...     NaN          NaN       NaN   NaN    NaN   NaN  NaN    NaN   NaN
3003  ...     NaN          NaN       NaN   NaN    NaN   NaN  NaN    NaN   NaN
3004  ...     NaN          NaN       NaN   NaN    NaN   NaN  NaN    NaN   NaN
...   ...     ...          ...       ...   ...    ...   ...  ...    ...   ...
3995  ...     NaN          NaN       NaN   NaN    NaN   NaN  NaN    NaN   NaN
3996  ...     NaN          NaN       NaN   NaN    NaN   NaN  NaN    NaN   NaN
3997  ...     NaN          NaN       NaN   NaN    NaN   NaN  NaN    NaN   NaN
3998  ...     NaN          NaN       NaN   NaN    NaN   NaN  NaN    NaN   NaN
3999  ...     NaN          NaN       NaN   NaN    NaN   NaN  NaN    NaN   NaN

      ūmu
3000  NaN
3001  NaN
3002  NaN
3003  NaN
3004  NaN
...   ...
3995  NaN
3996  NaN
3997  NaN
3998  NaN
3999  NaN

[1000 rows x 363286 columns]>
<bound method DataFrame.memory_usage of                     book title               book author  total words  \
4000    The Witch and the Tsar  Olesya Salnikova Gilmore     119401.0
4001            The Great Hunt             Robert Jordan     260463.0
4002  Shopaholic Ties The Knot           Sophie Kinsella     109567.0
4003   A Grimoire for Gamblers           Amanda Creiglow      86501.0
4004            Cry Like a Man              Jason Wilson      47664.0
...                        ...                       ...          ...
4995            The Guilty One           Lisa Ballantyne     115859.0
4996               Steele Life              Alex P. Berg      71212.0
4997                  Uprooted               Naomi Novik     155785.0
4998          Undead Next Door           Kerrelyn Sparks      93972.0
4999          Such Sharp Teeth           Rachel Harrison      81672.0

      vividness score  passive voice  all adverbs  ly-adverbs  non-ly-adverbs  \
4000            62.79           7.00         3.24        1.28            1.96
4001            52.77           8.15         2.91        1.03            1.88
4002            47.29           9.50         4.28        1.90            2.38
4003            40.43           8.97         3.03        1.08            1.96
4004            34.17           7.41         2.89        1.11            1.78
...               ...            ...          ...         ...             ...
4995            50.75           8.28         2.68        0.69            1.99
4996            50.22           7.66         3.04        1.17            1.87
4997            67.46           6.51         2.89        1.16            1.72
4998            52.75           8.51         2.78        0.84            1.95
4999            59.80           9.44         2.79        0.85            1.93

      publication year                                        book genres  \
4000            2022.0    ['Fantasy', 'Historical Fiction', 'Historical']
4001            1990.0        ['Adventure', 'Fantasy', 'Science Fiction']
4002            2002.0               ['Romance', 'Contemporary', 'Adult']
4003            2021.0               ['Paranormal', 'Fantasy', 'Mystery']
4004            2019.0                                      ['Biography']
...                ...                                                ...
4995            2012.0   ['Thriller', 'Mystery', 'Crime', 'Contemporary']
4996            2017.0               ['Fantasy', 'Mystery', 'Paranormal']
4997            2015.0              ['Fantasy', 'Young Adult', 'Romance']
4998            2008.0               ['Paranormal', 'Romance', 'Fantasy']
4999            2022.0  ['Horror', 'Fantasy', 'Paranormal', 'Romance',...

      ...  ōbō-buppō  ōdai-ko  ōdate  ōx  ōō  ōōō  ōōōō  ōōōōōō  ōōōōōōōōōōōō  \
4000  ...        NaN      NaN    NaN NaN NaN  NaN   NaN     NaN           NaN
4001  ...        NaN      NaN    NaN NaN NaN  NaN   NaN     NaN           NaN
4002  ...        NaN      NaN    NaN NaN NaN  NaN   NaN     NaN           NaN
4003  ...        NaN      NaN    NaN NaN NaN  NaN   NaN     NaN           NaN
4004  ...        NaN      NaN    NaN NaN NaN  NaN   NaN     NaN           NaN
...   ...        ...      ...    ...  ..  ..  ...   ...     ...           ...
4995  ...        NaN      NaN    NaN NaN NaN  NaN   NaN     NaN           NaN
4996  ...        NaN      NaN    NaN NaN NaN  NaN   NaN     NaN           NaN
4997  ...        NaN      NaN    NaN NaN NaN  NaN   NaN     NaN           NaN
4998  ...        NaN      NaN    NaN NaN NaN  NaN   NaN     NaN           NaN
4999  ...        NaN      NaN    NaN NaN NaN  NaN   NaN     NaN           NaN

      ūman
4000   NaN
4001   NaN
4002   NaN
4003   NaN
4004   NaN
...    ...
4995   NaN
4996   NaN
4997   NaN
4998   NaN
4999   NaN

[1000 rows x 376105 columns]>
<bound method DataFrame.memory_usage of                       book title           book author  total words  \
5000                True Compass     Edward M. Kennedy     175431.0
5001        Summer On the Bluffs          Sunny Hostin      93720.0
5002  Dead Letters from Paradise             Ann McMan      80563.0
5003    The Girl He Used to Know   Tracy Garvis Graves      75673.0
5004             Winter Warriors         David Gemmell     116820.0
...                          ...                   ...          ...
5995                     Perfect          Sara Shepard      60697.0
5996             Belisarius Cawl             Guy Haley      99284.0
5997     The Transference Engine  Julia Verne St. John      81944.0
5998     The Valley of Amazement               Amy Tan     215117.0
5999           The Cuckoo Sister       Alison Stockham      85937.0


In [ ]:
second_df = second_df.join(second_df.progress_apply(lambda x: pd.Series(get_wordcounts(x['book title'], x['book author'], books)), axis=1))