In [1]:
import pandas as pd
import dask
import dask.dataframe as dd
import multiprocessing

In [2]:
multiprocessing.cpu_count()

8

In [4]:
genres = ['Mystery','Thriller','Fantasy','Science Fiction','Crime','Contemporary',
          'Romance','Suspense','Historical fiction','Adult','Young Adult',
          'Historical','Horror','Adventure','Paranormal','History',
          'Literary Fiction','Biography','Classics','Memoir']

In [20]:
# dfs = []

In [24]:
# for i in range(21):
    # dfs.append(pd.read_csv(f'wordcounts_{i}.csv').drop('Unnamed: 0',axis=1))

In [25]:
# complete_df = pd.concat(dfs)

In [5]:
complete_df = pd.read_parquet('complete_wordcounts.parquet')

In [6]:
complete_df.shape

(20490, 66198)

In [7]:
complete_df.isna().sum()

book title             0
book author            0
total words            0
vividness score        0
passive voice          0
                   ...
timepieces         20485
vendettas          20485
volatiles          20485
warbands           20485
whimsically        20485
Length: 66198, dtype: int64

In [30]:
# complete_df.to_parquet('complete_wordcounts.parquet')

In [8]:
genres_df = pd.DataFrame(columns=genres)

In [12]:
for genre in genres:
  genres_df[genre] = complete_df['book genres'].apply(lambda x: 1 if genre in x else 0)

In [13]:
genres_df.head()

,Mystery,Thriller,Fantasy,Science Fiction,Crime,Contemporary,Romance,Suspense,Historical fiction,Adult,Young Adult,Historical,Horror,Adventure,Paranormal,History,Literary Fiction,Biography,Classics,Memoir
0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0
4,1,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [16]:
complete_df.memory_usage(deep=True).sum()

10855780642